*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif; 
}

img{
    width: 100px;
    height: 70px;
}
.box{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    
}
.form{
    width: 400px;
    min-height:400px;
    padding: 32px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.form img{
    display: block;
    margin: auto;
}
.form-tittle{
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}
.form-group{
    height: 48px;
    margin-bottom: 20px;
    position: relative;
}
.form-control{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: none;
     outline: none;
     border: 1px solid #a1a1a1;
     padding:15px;
     border-radius: 3px;
     z-index: 1;
}
.form-label{
    position:absolute;
    left: 13px;
    top: 13px;
    color:#a1a1a1;
    background:#fff;
    padding: 0 8px;
    font-size: 14px;
    transition: .3s;
}
.form-control:focus+ .form-label{
    top:-8px;
    z-index: 10;
    color: #1b66c9;
    font-weight: 500;
}
.form-control:focus{
    border:2px solid #1b66c9;
}
.form-control:not(:focus):valid+label{
    top: -10px;
    z-index:10;
}
.showlabel{
     font-size:14px;
}
.form-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}
.form-bottom a{
    text-decoration: none;
     color: #1b66c9;
     font-size: 15px;
    font-weight: 500;
}
.form-button{
    display: block;
    padding: 3px 7px;
    outline: none;
    border: none;
    background-color: #1b66c9;
    cursor: pointer;
    transition: .3s;
    border-radius: 2px;
}
.form-button:hover{
     background-color: #1b66c9;
     box-shadow:0 10px 36px rgba(0,0,0,0.15);
}
  .home a{
   top:10px;
  position: relative;
  text-decoration: none;
  color: #1b66c9;
}